<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signin</title>
    <style>
        html {
            background-color: #c9f1ff;

        }

        legend {
            text-align: center;
        }

        form {
            text-align: left;
        }
    </style>
</head>

<body>

    <div>
        <form method="post" action="/edit/<%= data._id %>">
            <field>
                <legend>
                    <h3>Edit Sign in Information</h3>
                </legend>

                <h4>Litle : 
                    <input type="text" name="title" value ="<%= data.title %>" required>
                </h4>

                <h4>First name : 
                    <input type="text" name="Firstname" value ="<%= data.Firstname %>" required>
                </h4>

                <h4>Last name :
                    <input type="text" name="Lastname" value ="<%= data.Lastname %>" required>
                </h4>

                <h4>Nation :
                    <input type="text" name="Nation" value ="<%= data.Nation %>">
                </h4>

                <h4>Gentle :
                    <input type="text" name="Gentle" value ="<%= data.Gentle %>">
                </h4>

                <h4>Phone Number :
                    <input type="text" name="Phone" value ="<%= data.Phone %>">
                </h4>

                <h4>Email :
                    <input type="text" name="Email" value ="<%= data.Email %>">
                </h4>

            </field>
            <field>
                <legend>
                    <h3>Edit Password Information</h3>
                </legend>
                <h4>Username :
                    <input type="text" id="Username" name="Username" value ="<%= data.Username %>" required>
                </h4>

                <h4>Password :
                    <input type="text" id="pswd1" name="Password"  required>
                </h4>

                <h4>Confirm Password :
                    <input type="text" id="pswd2" name="Comfirmpassword" required>
                </h4>

                <%
                //กำหนดวันเดือนปีปัจจุบันในแบบ YYYY-MM-DD เท่านั้น
                //เพื่อนำไปเป็นเติมเป็นค่าล่วงหน้าให้แก่อิลิเมนต์ชนิด date
                let dt = new Date(Date.parse(data.Date))
                let m = dt.getMonth() + 1
                //ถ้าเป็นเลขหลักเดียว ให้เติม 0 ข้างหน้า
                m = (m > 10) ? m : '0'+m
                let d = dt.getDate()
                d = (d > 10) ? d : '0'+d

                let da = `${dt.getFullYear()}-${m}-${d}`
                %>

                <h4>Set Date :
                    <input type="date" id="date" name="Date" value ="<%= da %>" required>
                </h4>

                <button id="confirm">Confirm</button>
            </field>
        </form>
        <br><a href="/"> <button onclick="alert('ต้องการยกเลิกการเเก้ไขหรือไม่')"> cancel</button></a>
    </div>

    <script>
        let bt = document.getElementById('confirm')
        bt.onclick = function (event) {
            let Username = document.getElementById('Username')
            let pswd1 = document.getElementById('pswd1')
            let pswd2 = document.getElementById('pswd2')


            if (Username.value == '' || pswd1.value == '') {
                alert('กรุณาใส่ทั้ง Username และ Password')
                window.location.href = "/login";
            } else if (pswd1.value != pswd2.value) {
                alert('ต้องใส่ Password ทั้ง 2 ช่องให้ตรงกัน')
                window.location.href = "/login";
            } else {
                alert('การลงทะเบียนเสร็จเรียบร้อย')
                window.location.href = "/find";
            }
        }
    </script>

    

</body>